#containerabout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img1 {
    width: 100%;
    max-width: 300px; /* Puedes ajustar el tamaño máximo de la imagen */
    height: auto;
  }
  
  #about {
    padding-left: 20px; /* Puedes ajustar el espaciado a tu gusto */
  }
  
  @media (max-width: 390px) {
    .img1 {
      max-width: 60%; /* En dispositivos móviles, la imagen ocupará todo el ancho disponible */
      display: block;
      margin: auto;
    }

    #containerabout {
    margin-top: 396px;
 
      }

      #about .col-xs-12.col-md-6 {
        margin-bottom: 20px;
      }
  }
  
  #about .col-xs-12.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
