#containerabout {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img1 {
    width: 100%;
    max-width: 300px; /* Puedes ajustar el tama침o m치ximo de la imagen */
    height: auto;
  }
  
  #about {
    padding-left: 20px; /* Puedes ajustar el espaciado a tu gusto */
  }
  
  @media (max-width: 767px) {
    .img1 {
      max-width: 60%; /* En dispositivos m칩viles, la imagen ocupar치 todo el ancho disponible */
    }

    #containerabout {
    margin-top: 200px;
 
      }

      #about .col-xs-12.col-md-6 {
        margin-bottom: 20px;
      }
  }
  
  #about .col-xs-12.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
